@model RafCompare.Entities.ProductEntities.Brands
@{
    ViewBag.Title = "Create Brand";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Brand

        @*<small>Create</small>*@
    </h1>
    @*<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Brand</a></li>
        <li class="active">Create Brand</li>
    </ol>*@
    <div id="child-breadcrumb" style="display:none">
        <ol class="breadcrumb" style="">
            <li><a href="@Url.Action("Index","Home")" style="color: rgb(255, 255, 255); text-decoration: underline;"><i class="fa fa-home">&nbsp;</i>Home</a></li>
            <li><a href="@Url.Action("Brands", "Brand")" style="color: rgb(255, 255, 255); text-decoration: underline;">Brands</a></li>
            <li class="active" style="color: rgb(255, 255, 255);">Create Brand</li>
        </ol>
    </div>
</section>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCreateBrands" }))
{
    <!-- Main content -->
    <section class="content">


        <div class="row">
            <div class="margin">
                <div class="col-md-8">
                    <div class="form-group has-error">
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
            <div class="col-md-12">

                <div class="box box-primary">
                    @*<div class="box-header">
                            <h3 class="box-title">Brand</h3>
                        </div>*@
                    <div class="box-body">
                        <div class="form-group col-md-3">
                            <label for="@Model.BrandName">Brand Name</label>
                            @Html.TextBoxFor(x => x.BrandName, new { @class = "form-control" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-12" style="margin-top: 5%;">
                <a href="@Url.Action("Brands")" class="btn btn-primary" id="">Back to List</a>
                <button class="btn btn-primary" type="submit" id="btnAddBrands">Save</button>
            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
}